.about_img{
	transform: rotate(7deg);
	border-radius: 20px;
	border: 2px solid #3A2364;
	padding: 3px;
	border-radius: 18px;
	border: 2px solid #3A2364;
	background: rgb(60, 42, 89);
	background: linear-gradient(0deg, rgba(60, 42, 89, 1) 0%, rgba(45, 33, 72, 1) 17%, rgba(39, 30, 65, 1) 34%, rgb(27 22 48) 100%);
	-webkit-box-shadow: 17px 26px 20px 12px rgba(0,0,0,0.43);
	-moz-box-shadow: 17px 26px 20px 12px rgba(0,0,0,0.43);
	box-shadow: 17px 26px 20px 12px rgba(0,0,0,0.43);
	transition: all .3s ease;
}

.about_img:hover{
	transform: rotate(5deg);
	cursor: grab;
}

.aboutTitle{
	font-size: 4rem;
}

section {
	position: relative;
}

.curva3 {
	position: absolute;
	bottom: 5%;
	left: 5%;
}