@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--bg-main: #000000;
	--bg-font: linear-gradient(to right, #e07a43 0%, #c19920 100%);
	--bg-card: none;
	/* --bg-card: linear-gradient(180deg, rgb(16, 16, 16) 0%, rgba(0, 0, 0, 1) 60%); */
	/*linear-gradient(180deg, rgba(35, 26, 61, 1) 0%, rgba(45, 34, 77, 1) 1%, rgba(42, 32, 72, 1) 16%, rgba(33, 25, 58, 1) 30%, rgba(31, 24, 56, 1) 35%, rgba(18, 18, 40, 1) 100%)*/
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Space Mono", monospace;
}

/* .App {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: rgb(26, 20, 46);
	background: linear-gradient(180deg, rgba(26, 20, 46, 1) 0%, rgba(28, 22, 48, 1) 7%, rgba(28, 21, 47, 1) 13%, rgba(33, 25, 58, 1) 30%, rgba(31, 24, 56, 1) 35%, rgba(18, 18, 40, 1) 100%);
	color: #D2D2D2;
	background-repeat: no-repeat;
	gap:20vw
	
} */

.App {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: var(--bg-main);
	color: #D2D2D2;
	background-repeat: no-repeat;
	gap: 20vw
}

.App> :not(:first-child) {
	z-index: 2;
}

main {
	display: flex;
	flex-direction: column;
	gap: 30vh;
	margin-top: 20vh;
	z-index: 0;
}

.gradient {
	background: var(--bg-font);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	align-items: baseline;
	width: fit-content;
}

/* .card-gradient {
	border-radius: 18px;
	border: 1px solid #282431;
	background: linear-gradient(180deg, rgba(35, 26, 61, 1) 0%, rgba(45, 34, 77, 1) 1%, rgba(42, 32, 72, 1) 16%, rgba(33, 25, 58, 1) 30%, rgba(31, 24, 56, 1) 35%, rgba(18, 18, 40, 1) 100%);
	box-shadow: inset 3px -1px 20px 5px rgba(0, 0, 0, 0.2);
	transition: all .3s ease;
} */

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.hero h3{
	background: var(--bg-font);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	align-items: baseline;
	width: fit-content;
}

.card-gradient {
	position: relative;
	border-radius: 18px;
	border: 1px solid #282431;
	background: var(--bg-main);
	box-shadow: inset 3px -1px 20px 5px rgba(0, 0, 0, 0.2);
	transition: transform .3s ease, color .5s ease;

	&:hover {
		transform: scale(102%);
		color: var(--bg-main);

		& h3{
			color: red !important;
		}
	}

	&::after,
	&::before {
		content: '';
		position: absolute;
		width: 102%;
		height: 102%;
		background-image: conic-gradient(from var(--angle), #e07a43, #c19920, #e07a43);
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		z-index: -1;
		padding: 3px;
		border-radius: 10px;
		animation: 3s spin linear infinite;
	}

	&::before {
		filter: blur(1.5rem);
		opacity: 0.7;
	}

	&:not(.experiencia) {
		view-timeline-name: --card;
		view-timeline-axis: block;

		animation-timeline: --card;
		animation-name: show;

		animation-range: entry 25% cover 40%;
		animation-fill-mode: both;
	}
}

@keyframes spin {
	from {
		--angle: 0deg
	}

	to {
		--angle: 360deg;
	}
}

h1 {
	font-weight: 750;
	font-size: 8rem;
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

footer {
	background-color: #0d0d1c;
}

@media (width < 1000px) {
	h1 {
		font-size: 4rem;
	}

	.curva,
	.curva2,
	.curva3,
	.strokeNdot>div {
		display: none;
	}
}

@keyframes show {
	from {
		opacity: 0;
		scale: 55%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}